:root {
    --main-bg-color: white;
    --content-bg-color: #ddd;
    --hover-bg-color: #bbb;
    --select-bg-color: #999;
}

body {
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
    margin: 0;
    padding: 15px 30px;
    background-color: var(--main-bg-color);
    font-size: 1.2em;
}
